.env
.git
.gitignore
.venv
.venv.windows.*
**/*:Zone.Identifier
docs/tmp
deliverables
__pycache__
*.py[cod]
.pytest_cache
credentials.json
data
deploy
logs
output
tests
auth*.json
cookies*.json
*google-token*.json
